<div class="app-container">
  <div class="row content-container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-expand-toggle">
          <i class="fa fa-bars icon"></i>
          </button>
          <ol class="breadcrumb navbar-breadcrumb">
            <li class="active">Life And Ministry</li>
          </ol>
          <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
          <i class="fa fa-th icon"></i>
          </button>
        </div>
      </div>
    </nav>
    <div class="side-menu sidebar-inverse">
      <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <div class="icon glyphicon glyphicon-print"></div>
              <div class="title">Teocracy</div>
            </a>
            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
            <i class="fa fa-times icon"></i>
            </button>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="index.html">
                <span class="icon fa fa-file-text-o"></span><span class="title">Form</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <div class="side-body" ng-controller="AssignmentsController as assignmentsCtrlVm">
        <div class="page-title">
          <span class="title">Assignments</span>
        </div>
        <div class="row" ng-repeat="(key, week) in assignmentsCtrlVm.assignments track by $id(week)">
          <div class="col-xs-12">
            <div class="card panel" style="margin-bottom: 0;">
              <div class="card-header">
                <div class="card-title">
                  <div class="title">
                    <a href="" data-toggle="collapse" data-target="#card-body-{{$index}}">{{key | weekDate}}</a>
                  </div>
                </div>
              </div>
              <div class="card-body collapse" style="padding-bottom:0;" id="card-body-{{$index}}">
                <div class="row">
                  <div class="row">
                  <div class="col-xs-3" ng-repeat="meeting in week.meeting">
                    <input type="text" class="form-control"></input>
                  </div>
                  </div>
                  <div class="col-xs-12 col-lg-4" ng-repeat="(key, value) in week">
                    <div class="sub-title" style="padding-top:0;">{{key}}</div>
                    <div class="row" ng-repeat="assignment in value">
                      <div ng-show="assignment.assignment == 'Reading'" class="col-xs-10" style="margin-bottom:10px;padding-right:0;">
                        <input type="text" class="form-control" id="" placeholder="Name" ng-model="assignment.name" uib-typeahead="student for student in assignmentsCtrlVm.students | filter:$viewValue">
                      </div>
                      <div ng-show="assignment.assignment == 'Initial call' || assignment.assignment == 'Return visit' || assignment.assignment == 'Bible study'" class="col-xs-5" style="margin-bottom:10px;padding-right:0;">
                        <input type="text" class="form-control" id="" placeholder="Name" ng-model="assignment.name" uib-typeahead="student for student in assignmentsCtrlVm.students | filter:$viewValue">
                      </div>
                      <div ng-show="assignment.assignment == 'Initial call' || assignment.assignment == 'Return visit' || assignment.assignment == 'Bible study'" class="col-xs-5" style="margin-bottom:10px;padding-right:0;">
                        <input type="text" class="form-control" id="" placeholder="Assistant" ng-model="assignment.assistant" uib-typeahead="student for student in assignmentsCtrlVm.students | filter:$viewValue">
                      </div>
                      <div class="col-xs-2" ng-show="assignment.assignment != 'Presidente'" style="margin-bottom:10px;padding-right:0;">
                        <input type="number" class="form-control" id="" placeholder="Point" ng-model="assignment.point">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success" ng-click="assignmentsCtrlVm.save()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
        <button type="button" class="btn btn-info" ng-disabled="true"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Print board</button>
        <button type="button" class="btn btn-primary" ng-disabled="true"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Print assignments</button>
      </div>
    </div>
  </div>
</div>
