<div class="side-body">
  <div class="page-title">
    <span class="title">Life And Ministry</span>
  </div>
  <div class="default-buttons">
    <button type="button" class="btn btn-success" ng-click="lifeandministry.save()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
    <button type="button" class="btn btn-info" ng-disabled="true"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Print board</button>
    <button type="button" class="btn btn-primary" ng-disabled="true"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Print assignments</button>
  </div>
  <div class="row" ng-repeat="(key, week) in lifeandministry.assignments track by $id(week)">
    <div class="col-xs-12">
      <div class="card panel" style="margin-bottom: 0;">
        <div class="card-header">
          <div class="card-title">
            <div class="title">
              <a href="" data-toggle="collapse" data-target="#card-body-{{$index}}">{{key | weekDate}}</a>
            </div>
          </div>
        </div>
        <div class="card-body collapse" style="padding-bottom:0;" id="card-body-{{$index}}">
          <div class="row">
            <div class="col-xs-12" ng-repeat="(key, value) in week">
              <div class="sub-title" style="padding-top:0;">{{key}}</div>
              <div ng-repeat="assignment in value">
                <form style="margin-bottom:10px;padding-right:0;">
                  <div class="form-group">
                    <label class="control-label">{{assignment.assignment}} {{assignment.room}}</label>
                    <div class="row" style="margin-left:0px; margin-right:0px;">
                      <div ng-class="{'col-xs-9': assignment.assignment == 'Reading' || assignment.assignment == 'Initial Call' || assignment.assignment == 'Return visit' || assignment.assignment == 'Bible study'}" style="padding-left:0px;margin-bottom: 0px;">
                        <input type="text" class="form-control" id="" placeholder="Name" ng-model="assignment.name" uib-typeahead="student for student in lifeandministry.students | filter:$viewValue" >
                      </div>
                      <div ng-class="{'col-xs-3': assignment.assignment == 'Reading' || assignment.assignment == 'Initial Call' || assignment.assignment == 'Return visit' || assignment.assignment == 'Bible study'}"  style="padding-right:0px;margin-bottom: 0px;">
                        <input type="number" class="form-control" id="" placeholder="Point" ng-model="assignment.point" ng-show="assignment.assignment == 'Reading' || assignment.assignment == 'Initial Call' || assignment.assignment == 'Return visit' || assignment.assignment == 'Bible study'">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-success" ng-click="lifeandministry.save()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
    <button type="button" class="btn btn-info" ng-disabled="true"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Print board</button>
    <button type="button" class="btn btn-primary" ng-disabled="true"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Print assignments</button>
  </div>
</div>